html,
body {
  height: 100%;
}


body {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

@font-face {
  font-family: oswald;
  src: url(font/Oswald-VariableFont_wght.ttf);
}
*{
  font-family:oswald;
}
h1{
    color: #9cada3;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}

h1 > a{
  font-weight: 500 !important; 
}

.header-menu,
footer {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-menu {
  justify-content: center; 
  height: 160px;
  border:white;
  color: #fff;
}
p{
  text-align: center;
  color: white;
}
h2 {
    color: #9cada3;
    margin: 0 0 8px;
}
ul li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
  color:white;
}

ul{
  display: flex;
  justify-content: center;
}

small, p{
    color:white;
}

.article{
    max-height: 300px;
    position: relative;
    /*cursor: pointer;*/
}
/*aside {
  flex: 0.4;
  height: 165px;
  padding-left: 15px;
  border-left: 1px solid #666;
}*/
section {
    /*display: flex;*/
  /*flex: 1;
  padding-right: 15px;*/
    /*min-height: 100vh;*/
}
footer {
  background: #111111;
  min-height: 150px;
  padding: 0 10px;
  color: #9cada3;
}

.img-card{
    max-height: 300px;
    max-width: inherit;
}

.img-card-catalogue{
  max-height: inherit;
  max-width: inherit;
}

.btn-more-right{
  color: #9cada3;
  border-color: #9cada3;
  position: absolute;
  bottom: 0px;
  right: 0px;
  
}

.btn-more-left{
  color: #9cada3;
  border-color: #9cada3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  
}

a{
  text-decoration: none;
  color: #9cada3;
}



a:link {
  text-decoration: none;
  color: #9cada3;
}

a:visited {
  text-decoration: none;
  color: #9cada3;
}

a:hover {
  text-decoration: none;
  color: #9cada3;
}

a:active {
  text-decoration: none;
  color: #9cada3;
}

.center{
  text-align: center;
}

li > a{
  color:#c1c1c1 !important;
}